[Desktop Entry]
Type=Application
Name=Server Handoff TTY
Exec=chromium --kiosk --no-first-run --disable-session-crashed-bubble http://35.253.112.41:8422/
Terminal=false
X-GNOME-Autostart-enabled=true
